* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #ffffff;
  font-family: "Imbue", serif;
}

body {
  background-color: #000000;
  width: 100%;
  height: 100%;
}

h1 {
  display: block;
  text-align: center;
  margin-top: 100px;
}
#google{
  font-size: 46px;
}
form {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}
#search {
  width: 100%;
  height: 30px;
  color: black;
  margin: 10px auto 10px auto;
}
#btn {
  color: #000000;
  width:120px;
  height:35px;
  cursor: pointer;
  background: transparent;
  background-color: #ffffff;
  font-size: 24px;
  align-self: center;

  border: transparent;
  border-radius: 2px;
}


#btn:hover{
  background-color: #ffffff;
  color: #000000;
  outline: 3px dotted #ffffff;
}


#result_div {
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 640px;
}
.single_div {
  margin: 10px;
  height: 450px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.single_div>img{
  max-width: 296px;
  max-height: 450px;
}

#pagination{
  margin: 50px auto 50px auto;
  max-width: 500px;

  
  
}
.pag{
  text-decoration: none;
background-color: #333;
width: 30px;
height: 30px;
margin: 2px;
}

.back{
  opacity:0;
  position:absolute;
  height: inherit;
  width: inherit;
  text-align: center;
  

}
.back:hover, .back:focus{
  opacity:1;
  background-color: rgba(1, 1, 1, 0.8);
}

.modal_btn{
  margin-top: 30px;
  width:200px;
  height: 50px;
  color: #ffffff;
  background-color: transparent;
  font-size: 36px;
  cursor: pointer;
  border:3px dotted #ffffff

}
.modal_btn:hover{
  background-color: #ffffff;
  color: #000000;
  
}
#modal_description{
  display: none;
  position: fixed;
  top:0;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 1, 1, 0.9);

}
#description_div{
  display: block;
  max-width: 700px;
  min-height: 300px;
  margin:150px auto 100px auto;
  background-color: #d3d3d3;
  outline: 1px solid #ffffff;
}

.draw_info>h2{
  text-align: center;
background-color: black;
outline: 1px solid #ffffff;
}
.draw_info>p{
font-family: 'Open Sans', sans-serif;
color: #000000;
margin: 10px;
}

@media screen and (max-width:657px){
  #result_div{
    justify-content: center;

  }
}